body {
  background-color: #425252;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 380px;
  background-color: #11161b;
  border-radius: 18px;
  margin-top: 40px;
}

.board-container {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-left: 16px;
}

.display {
  max-width: 340px;
  height: 130px;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-wrap: wrap;
  font-size: 42px;
  color: #ffffff;
  margin-bottom: 8px;
  margin-left: 10px;
}

.btn {
  width: 80px;
  height: 80px;
}

.span-x {
  width: 168px;
}

.w-tr {
  display: flex;
  margin-top: -85px;
  gap: 8px;
}

button {
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-weight: 900;
  font-family: monospace;
  border-radius: 8px;
  outline: none;
}

.digit button {
  background-color: #303136;
  color: #29a8ff;
}

.operators button {
  background-color: #005db2;
  color: #a4d9ff;
}

.clear button {
  background-color: #f74848;
  color: #002b53;
}

.undo button {
  background-color: #797a7a;
  color: #002b53;
}

button:hover {
  opacity: 0.5;
}

.span-y {
  height: 160px;
}

.span-y button {
  background-color: rgb(0, 153, 0);
}

.error-message {
  background-color: #ee8c8c;
  color: #ff0000;
  padding: 24px;
}
